.section-about {
  background-color: $gray-light;
  //width: 100vw;
  padding: 0rem 25rem 25rem;

  @include respronse(phone) {
    position: relative;
  }
  @include respronse(tab-port) {
    position: relative;
  }

  &__heading--m {
    @include respronse(phone) {
      //margin: 0;
    }
    @include respronse(tab-port) {
      margin: 0;
      padding-left: 0;
      padding-right: 25rem;
    }
  }

  @include respronse(phone) {
    padding: 0rem 5rem 20rem;
  }
  @include respronse(tab-port) {
    padding: 0rem 5rem 20rem;
  }
  @include respronse(tab-port) {
    margin-bottom: 5rem !important;
  }
}

.section__features {
  padding: 5rem;
  height: 74.5vh;
  background: linear-gradient(
      to right bottom,
      $light-green-opacity,
      $dark-green-opacity
    ),
    url(/img/nat-4.jpg);
  display: flex;
  align-items: center;
  @include respronse(phone) {
    display: block;
    height: fit-content;
  }
  @include respronse(tab-port) {
    display: block;
    height: fit-content;
  }
  //   clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);

  transform: skewY(-7deg);
  margin-top: -10rem;

  & > * {
    transform: skewY(7deg);
  }
}

.section-tours {
  background-color: $gray-light;
  padding: 1.5rem 0 15rem 0;
  margin-top: 10rem;
  text-align: center;
  h2 {
    margin-bottom: 10rem;
  }
  @include respronse(phone) {
    padding-bottom: 8rem;
  }
}

.section-reviews {
  z-index: 1;
  padding-bottom: 15rem;
  position: relative;
  @include respronse(phone) {
    h2.heading-secondary {
      font-size: 2.1rem;
    }
  }
}

.section-booking {
  padding: 15rem 0;
  background: $gradient-green;

  @include respronse(phone) {
    .row {
      max-width: 95%;
    }
  }

  @include respronse(tab-port) {
    .row {
      max-width: 95%;
      padding: 0;
    }
  }
}

.book {
  background: linear-gradient(
      105deg,
      rgba(255, 255, 255, 0.919) 0%,
      rgba(255, 255, 255, 0.901) 50%,
      transparent 50%
    ),
    url(/img/nat-10.jpg);
  background-size: 100%;
  border-radius: 3px;
  box-shadow: $box-shadow-default;
  height: 50rem;

  &__form {
    width: 50%;
    padding: 6rem;
  }

  @include respronse(phone) {
    &__form {
      width: 80%;
      padding: 4rem;
      padding-right: 1rem;
    }
    height: fit-content;
    background: linear-gradient(
        105deg,
        rgba(255, 255, 255, 0.919) 0%,
        rgba(255, 255, 255, 0.901) 100%,
        transparent 100%
      ),
      url(/img/nat-10.jpg);
    background-size: cover;
  }

  @include respronse(tab-port) {
    &__form {
      width: 65%;
      padding: 4rem;
    }
    height: fit-content;
    background: linear-gradient(
        105deg,
        rgba(255, 255, 255, 0.919) 0%,
        rgba(255, 255, 255, 0.901) 70%,
        transparent 65%
      ),
      url(/img/nat-10.jpg);
    background-size: cover;
  }
}
