.card {
  //functionality
  perspective: 150rem;
  position: relative;
  height: 50rem;

  &__side {
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 4px;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    box-shadow: $box-shadow-default;

    &--front {
      width: 100%;
      background-color: rgb(255, 255, 255);
    }

    &--back {
      transform: rotateY(-180deg);
      width: 100%;
      top: 0;
      position: relative;

      &-1 {
        background: $gradient-orange;
      }
      &-2 {
        background: $gradient-green;
      }
      &-3 {
        background: $gradient-blue;
      }
    }
  }

  //queries
  @include respronse(phone) {
    &:hover &__side--front {
      transform: none !important;
    }
    & {
      height: fit-content;
    }
    &__side--back {
      display: none;
    }
    &__side {
      height: fit-content;
      position: relative;
    }

    &__responsive {
      display: block !important;
      padding: 4rem 0;
      padding-bottom: 4.5rem;
      color: white;
      margin-top: 2.5rem;
      clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
      p.card__price-value {
        font-size: 3.7rem;
      }
      p.card__price-only {
        font-size: 1.2rem;
      }
      a.btn {
        font-size: 1rem;
      }
      &--1 {
        background: $gradient-orange;
      }
      &--2 {
        background: $gradient-green;
      }
      &--3 {
        background: $gradient-blue;
      }
    }

    .responsive__button {
      display: block !important;
    }
  }

  @media only screen and (41.5em < width <= 61em),
    only screen and (hover: none) {
    &:hover &__side--front {
      transform: none !important;
    }
    & {
      height: fit-content;
    }
    &__side--back {
      display: none;
    }
    &__side {
      height: fit-content;
      position: relative;
    }

    &__responsive {
      display: block !important;
      padding: 4rem 0;
      padding-bottom: 5rem;
      color: white;
      margin-top: 2.5rem;
      clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
      p.card__price-value {
        font-size: 4rem;
      }
      p.card__price-only {
        font-size: 1.3rem;
      }
      a.btn {
        font-size: 1.2rem;
      }
      &--1 {
        background: $gradient-orange;
      }
      &--2 {
        background: $gradient-green;
      }
      &--3 {
        background: $gradient-blue;
      }
    }

    .responsive__button {
      display: block !important;
    }
  }
  @include respronse(tab-port) {
  }

  //
  &:hover &__side--front {
    transform: rotateY(180deg);
  }
  &:hover &__side--back {
    transform: rotateY(0);
  }

  //card-front-styles
  &__picture {
    background-size: cover;
    height: 25rem;
    background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

    &--1 {
      background-image: $gradient-orange-opacity, url(/img/nat-5.webp);
    }
    &--2 {
      background-image: $gradient-green-opacity, url(/img/nat-6.webp);
    }
    &--3 {
      background-image: $gradient-blue-opacity, url(/img/nat-7.webp);
    }
  }

  &__heading {
    position: absolute;
    top: 15rem;
    right: 2rem;
    text-transform: uppercase;
    color: white;
    font-size: 2.8rem;
    font-weight: 400;
    width: 75%;
    text-align: right;
  }
  &__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    &--1 {
      background-image: $gradient-orange-opacity;
    }
    &--2 {
      background-image: $gradient-green-opacity;
    }
    &--3 {
      background-image: $gradient-blue-opacity;
    }
  }

  &__details {
    ul {
      list-style: none;
      width: 80%;
      margin: 0 auto;
      margin-top: 2rem;
      li {
        padding: 0.7rem;
        text-align: center;
        font-size: 1.5rem;
        &:not(:last-child) {
          border-bottom: 0.5px solid rgba(190, 185, 185, 0.315);
        }
      }
    }
  }

  //card-back-styles
  &__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    color: white;
  }
  &__price-only {
    font-size: 1.5rem;
    text-transform: uppercase;
  }
  &__price-value {
    font-size: 5rem;
    font-weight: 100;
  }

  //responsive=styles{
  &__responsive {
    display: none;
  }
}

.responsive__button {
  display: none;

  @include respronse(phone) {
    & {
      display: inline-block;
    }
  }

  @include respronse(tab-port) {
    & {
      display: inline-block;
    }
  }
}
