.review {
  width: 70%;
  padding: 4rem;
  padding-left: 7rem;
  border-radius: 3px;
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.271);
  background-color: rgba(255, 255, 255, 0.486);
  transform: skewX(-10deg);
  margin-bottom: 5rem;

  @include respronse(phone) {
    transform: skewX(0deg);
    width: 100%;
    padding: 3rem;
    padding-left: 4rem;
    &__shape {
      transform: translateX(-3rem) skewX(0deg) !important;
      margin-right: 1.5rem;
    }
    & > * {
      transform: skewX(0) !important;
    }
    &__text {
      p {
        margin-top: 2.5rem;
        font-size: 1.5rem;
      }
      h3.heading-tertiary {
        font-size: 1.9rem;
      }
    }
  }

  @include respronse(tab-port) {
    //transform: skewX(0deg);
    width: 100%;
    padding-left: 7rem;
    &__shape {
      //transform: translateX(-3rem) skewX(0deg) !important;
      margin-right: 0rem;
    }
    // & > * {
    //   transform: skewX(0) !important;
    // }
  }

  & > * {
    transform: skewX(12deg);
  }

  &__shape {
    width: 10rem;
    height: 10rem;
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    float: left;
    transform: translateX(-3rem) skewX(12deg);
    position: relative;

    &-img {
      height: 100%;
      transform: translateX(-3.5rem) scale(1.5);
      transition: all 0.2s linear;
    }

    &-caption {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 20%);

      text-align: center;
      color: white;
      font-size: 1.7rem;

      transition: all 0.3s ease;
      text-transform: uppercase;
      opacity: 0;
      backface-visibility: hidden;
    }
  }

  &:hover &__shape-caption {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  &:hover &__shape-img {
    scale: 0.95;
    filter: blur(3px) brightness(80%);
  }
}
