.footer {
  padding: 15rem 0;
  background-color: rgb(39, 35, 35);
  font-size: 1.3rem;

  @include respronse(phone) {
    padding: 5rem 0 8rem;
  }

  @include respronse(tab-port) {
    padding: 8rem 14rem;
  }

  &__logo-box {
    text-align: center;
  }
  &__logo {
    width: 15rem;
  }
  &__navigation {
    border-top: solid 2px rgb(152, 149, 149);
    padding-top: 2rem;
    display: inline-block;

    @include respronse(tab-port) {
      text-align: center;
      margin-bottom: 4rem;
      width: 100%;
    }
  }

  &__list {
    list-style: none;
  }
  &__item {
    display: inline-block;
    &:not(:first-child) {
      margin-left: 1rem;
    }
  }
  &__link {
    transition: all 0.2s;
    padding: 0 2px;
  }

  &__link:visited,
  &__link:link {
    color: $gray-light;
    background-color: rgb(39, 35, 35);
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
  }
  &__link:hover,
  &__link:active {
    color: $light-green;
    transform: rotate(5deg);
    scale: 1.2;
    box-shadow: 0 1rem 2rem rgba($color: #000000, $alpha: 0.4);
  }

  &__copyright {
    border-top: solid 2px rgb(152, 149, 149);
    padding-top: 2rem;
    color: $gray-light;
    width: 85%;
    float: right;

    @include respronse(phone) {
      float: left;
    }
    @include respronse(tab-port) {
      float: none;
      width: 100%;
      text-align: center;
    }
  }
}
